src/main/resources/wsdl/LNetworkServer/xsd12.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.Photo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.Photo" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"><xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:import schemaLocation="xsd13.xsd" namespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.AdditionalFields"/><xs:complexType name="PhotoOrder"><xs:sequence><xs:element minOccurs="0" name="ID" type="ser:guid"/><xs:element minOccurs="0" name="LeavePhotoMarkerLikeBase" type="xs:boolean"/><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Order" type="xs:int"/><xs:element minOccurs="0" name="OwnerType" type="tns:PhotoOwnerType"/><xs:element minOccurs="0" name="PhotoMarker" type="q1:PhotoMarker" xmlns:q1="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.AdditionalFields"/><xs:element minOccurs="0" name="PhotoNumber" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="PhotoOrder" nillable="true" type="tns:PhotoOrder"/><xs:simpleType name="PhotoOwnerType"><xs:restriction base="xs:string"><xs:enumeration value="Employee"/><xs:enumeration value="Vehicle"/></xs:restriction></xs:simpleType><xs:element name="PhotoOwnerType" nillable="true" type="tns:PhotoOwnerType"/><xs:complexType name="ArrayOfPhotoOrder"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoOrder" nillable="true" type="tns:PhotoOrder"/></xs:sequence></xs:complexType><xs:element name="ArrayOfPhotoOrder" nillable="true" type="tns:ArrayOfPhotoOrder"/></xs:schema>
