src/main/resources/wsdl/LNetworkServer/xsd21.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.PhotoBank" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.PhotoBank"><xs:complexType name="ArrayOfPhotoBankShort"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoBankShort" nillable="true" type="tns:PhotoBankShort"/></xs:sequence></xs:complexType><xs:element name="ArrayOfPhotoBankShort" nillable="true" type="tns:ArrayOfPhotoBankShort"/><xs:complexType name="PhotoBankShort"><xs:sequence><xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime"/><xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Id" type="xs:long"/><xs:element minOccurs="0" name="PersonNumber" nillable="true" type="xs:long"/></xs:sequence></xs:complexType><xs:element name="PhotoBankShort" nillable="true" type="tns:PhotoBankShort"/></xs:schema>