src/main/resources/wsdl/LNetworkServer/xsd36.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.ScreenLayout.CellContent.PassInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.ScreenLayout.CellContent.PassInfo" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"><xs:import schemaLocation="xsd23.xsd" namespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver"/><xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="CellContentPassInfo"><xs:complexContent mixed="false"><xs:extension base="tns:CellContentPassInfoSaveData"><xs:sequence><xs:element minOccurs="0" name="AccessPointDriverName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AcsAccessPointType" nillable="true" type="q1:AcsAccessPointType" xmlns:q1="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver"/><xs:element minOccurs="0" name="CellId" type="ser:guid"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="CellContentPassInfo" nillable="true" type="tns:CellContentPassInfo"/><xs:complexType name="CellContentPassInfoSaveData"><xs:sequence><xs:element minOccurs="0" name="AccessPointDriverId" nillable="true" type="ser:guid"/><xs:element minOccurs="0" name="JsonData" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="CellContentPassInfoSaveData" nillable="true" type="tns:CellContentPassInfoSaveData"/></xs:schema>
