src/main/resources/wsdl/LNetworkServer/xsd35.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.ScreenLayout.CellContent.Camera" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.ScreenLayout.CellContent.Camera" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"><xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="CellContentCameraInfo"><xs:complexContent mixed="false"><xs:extension base="tns:CellContentCameraSaveData"><xs:sequence><xs:element minOccurs="0" name="CameraDriverName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="CellId" type="ser:guid"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element name="CellContentCameraInfo" nillable="true" type="tns:CellContentCameraInfo"/><xs:complexType name="CellContentCameraSaveData"><xs:sequence><xs:element minOccurs="0" name="CameraDriverId" nillable="true" type="ser:guid"/></xs:sequence></xs:complexType><xs:element name="CellContentCameraSaveData" nillable="true" type="tns:CellContentCameraSaveData"/></xs:schema>
