src/main/resources/wsdl/LNetworkServer/xsd37.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.IvidionCamera" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.IvidionCamera" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"><xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="ArrayOfIvideonCameraDriverInfo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="IvideonCameraDriverInfo" nillable="true" type="tns:IvideonCameraDriverInfo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfIvideonCameraDriverInfo" nillable="true" type="tns:ArrayOfIvideonCameraDriverInfo"/><xs:complexType name="IvideonCameraDriverInfo"><xs:sequence><xs:element minOccurs="0" name="CameraType" type="tns:CameraProductType"/><xs:element minOccurs="0" name="DriverId" type="ser:guid"/><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Path" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ServerID" type="ser:guid"/><xs:element minOccurs="0" name="ServerType" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="IvideonCameraDriverInfo" nillable="true" type="tns:IvideonCameraDriverInfo"/><xs:simpleType name="CameraProductType"><xs:restriction base="xs:string"><xs:enumeration value="Ivideon"/><xs:enumeration value="Panasonic"/><xs:enumeration value="ISS"/><xs:enumeration value="NUUO"/><xs:enumeration value="NtechLab"/><xs:enumeration value="Trassir"/><xs:enumeration value="Idis"/><xs:enumeration value="EBS"/></xs:restriction></xs:simpleType><xs:element name="CameraProductType" nillable="true" type="tns:CameraProductType"/></xs:schema>
