src/main/resources/wsdl/LNetworkServer/xsd45.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Recognition" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Recognition"><xs:import schemaLocation="xsd46.xsd" namespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.EBS"/><xs:complexType name="EbsBiometricStatusResult"><xs:sequence><xs:element minOccurs="0" name="AgreementFrom" nillable="true" type="xs:dateTime"/><xs:element minOccurs="0" name="AgreementTo" nillable="true" type="xs:dateTime"/><xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Status" type="q1:EmployeeBiometricStatus" xmlns:q1="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.EBS"/></xs:sequence></xs:complexType><xs:element name="EbsBiometricStatusResult" nillable="true" type="tns:EbsBiometricStatusResult"/></xs:schema>
