src/main/resources/wsdl/LNetworkServer/xsd44.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.PostOffice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.PostOffice" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"><xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="ArrayOfPOBRelation"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="POBRelation" nillable="true" type="tns:POBRelation"/></xs:sequence></xs:complexType><xs:element name="ArrayOfPOBRelation" nillable="true" type="tns:ArrayOfPOBRelation"/><xs:complexType name="POBRelation"><xs:sequence><xs:element minOccurs="0" name="KeyKeeperRBDriverID" nillable="true" type="ser:guid"/><xs:element minOccurs="0" name="POBCellDriverID" nillable="true" type="ser:guid"/><xs:element minOccurs="0" name="Pin" nillable="true" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="POBRelation" nillable="true" type="tns:POBRelation"/></xs:schema>
