src/main/resources/wsdl/LNetworkServer/xsd43.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.CommandNotification" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.CommandNotification"><xs:complexType name="NotificationState"><xs:sequence><xs:element minOccurs="0" name="Error" nillable="true" type="xs:short"/><xs:element minOccurs="0" name="ModificationTime" type="xs:dateTime"/><xs:element minOccurs="0" name="NotifyName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="State" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="NotificationState" nillable="true" type="tns:NotificationState"/></xs:schema>