src/main/resources/wsdl/LNetworkServer/xsd57.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.BasIp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.BasIp"><xs:simpleType name="BasIPVersion"><xs:restriction base="xs:string"><xs:enumeration value="Ver1"/><xs:enumeration value="Ver2"/><xs:enumeration value="Ver3"/></xs:restriction></xs:simpleType><xs:element name="BasIPVersion" nillable="true" type="tns:BasIPVersion"/><xs:complexType name="FindBasIpIntercomResult"><xs:sequence><xs:element minOccurs="0" name="FoudIntercoms" nillable="true" type="tns:ArrayOfBasIpIntercomInfo"/></xs:sequence></xs:complexType><xs:element name="FindBasIpIntercomResult" nillable="true" type="tns:FindBasIpIntercomResult"/><xs:complexType name="ArrayOfBasIpIntercomInfo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="BasIpIntercomInfo" nillable="true" type="tns:BasIpIntercomInfo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfBasIpIntercomInfo" nillable="true" type="tns:ArrayOfBasIpIntercomInfo"/><xs:complexType name="BasIpIntercomInfo"><xs:sequence><xs:element minOccurs="0" name="BasIpVersion" type="tns:BasIPVersion"/><xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="BasIpIntercomInfo" nillable="true" type="tns:BasIpIntercomInfo"/></xs:schema>