src/main/resources/wsdl/LNetworkServer/xsd52.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Net" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Net"><xs:import schemaLocation="xsd4.xsd" namespace="http://schemas.datacontract.org/2004/07/System"/><xs:import schemaLocation="xsd63.xsd" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets"/><xs:import schemaLocation="xsd2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:complexType name="WebException"><xs:complexContent mixed="false"><xs:extension base="q1:InvalidOperationException" xmlns:q1="http://schemas.datacontract.org/2004/07/System"/></xs:complexContent></xs:complexType><xs:element name="WebException" nillable="true" type="tns:WebException"/><xs:complexType name="IPAddress"><xs:sequence><xs:element name="m_Address" type="xs:long"/><xs:element name="m_Family" type="q2:AddressFamily" xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net.Sockets"/><xs:element name="m_HashCode" type="xs:int"/><xs:element name="m_Numbers" nillable="true" type="q3:ArrayOfunsignedShort" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:element name="m_ScopeId" type="xs:long"/></xs:sequence></xs:complexType><xs:element name="IPAddress" nillable="true" type="tns:IPAddress"/></xs:schema>
