src/main/resources/wsdl/LNetworkServer/xsd68.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.HotKey"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.HotKey">
    <xs:import schemaLocation="xsd2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    <xs:complexType name="RezervedHotKeys">
        <xs:sequence>
            <xs:element minOccurs="0" name="Key" type="xs:int"/>
            <xs:element minOccurs="0" name="Modifiers" type="xs:int"/>
            <xs:element minOccurs="0" name="Modules" nillable="true" type="q1:ArrayOfstring"
                        xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RezervedHotKeys" nillable="true" type="tns:RezervedHotKeys"/>
</xs:schema>
