src/main/resources/wsdl/LNetworkServer/xsd62.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.Ivideon" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.Ivideon"><xs:import schemaLocation="xsd16.xsd" namespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity"/><xs:complexType name="IvideonCameraCollectionResult"><xs:sequence><xs:element minOccurs="0" name="DriverFullInfo" nillable="true" type="q1:ArrayOfLDriverFullInfo" xmlns:q1="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity"/></xs:sequence></xs:complexType><xs:element name="IvideonCameraCollectionResult" nillable="true" type="tns:IvideonCameraCollectionResult"/><xs:complexType name="IvideonRemoteServerCollectionResult"><xs:sequence><xs:element minOccurs="0" name="DriverFullInfo" nillable="true" type="q2:ArrayOfLDriverFullInfo" xmlns:q2="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity"/></xs:sequence></xs:complexType><xs:element name="IvideonRemoteServerCollectionResult" nillable="true" type="tns:IvideonRemoteServerCollectionResult"/></xs:schema>
