src/main/resources/wsdl/LNetworkServer/xsd61.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.Idis" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.Idis"><xs:import schemaLocation="xsd2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:complexType name="IdisConfiguration"><xs:sequence><xs:element minOccurs="0" name="ChannelNames" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:element minOccurs="0" name="ChannelsCount" type="xs:int"/><xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="SoftwareVersion" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="IdisConfiguration" nillable="true" type="tns:IdisConfiguration"/></xs:schema>
