src/main/resources/wsdl/LNetworkServer/xsd60.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.Trassir" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.Trassir"><xs:complexType name="TrassirIntegrationResult"><xs:sequence><xs:element minOccurs="0" name="Servers" nillable="true" type="tns:ArrayOfTrassirServerInfo"/></xs:sequence></xs:complexType><xs:element name="TrassirIntegrationResult" nillable="true" type="tns:TrassirIntegrationResult"/><xs:complexType name="ArrayOfTrassirServerInfo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="TrassirServerInfo" nillable="true" type="tns:TrassirServerInfo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfTrassirServerInfo" nillable="true" type="tns:ArrayOfTrassirServerInfo"/><xs:complexType name="TrassirServerInfo"><xs:sequence><xs:element minOccurs="0" name="Channels" nillable="true" type="tns:ArrayOfTrassirChannelInfo"/><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="TrassirID" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="TrassirServerInfo" nillable="true" type="tns:TrassirServerInfo"/><xs:complexType name="ArrayOfTrassirChannelInfo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="TrassirChannelInfo" nillable="true" type="tns:TrassirChannelInfo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfTrassirChannelInfo" nillable="true" type="tns:ArrayOfTrassirChannelInfo"/><xs:complexType name="TrassirChannelInfo"><xs:sequence><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="TrassirID" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="TrassirChannelInfo" nillable="true" type="tns:TrassirChannelInfo"/></xs:schema>