src/main/resources/wsdl/LNetworkServer/xsd66.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.LPRCamera" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Driver.LPRCamera"><xs:complexType name="FindLPRCameraResult"><xs:sequence><xs:element minOccurs="0" name="FoundCameras" nillable="true" type="tns:ArrayOfLPRCameraInfo"/></xs:sequence></xs:complexType><xs:element name="FindLPRCameraResult" nillable="true" type="tns:FindLPRCameraResult"/><xs:complexType name="ArrayOfLPRCameraInfo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="LPRCameraInfo" nillable="true" type="tns:LPRCameraInfo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfLPRCameraInfo" nillable="true" type="tns:ArrayOfLPRCameraInfo"/><xs:complexType name="LPRCameraInfo"><xs:sequence><xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="LPRCameraInfo" nillable="true" type="tns:LPRCameraInfo"/></xs:schema>