src/main/resources/wsdl/LNetworkServer/xsd8.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.Branch" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/VVIInvestment.RusGuard.DAL.Entities.Entity.Branch" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"><xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="ArrayOfBranchInfo"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="BranchInfo" nillable="true" type="tns:BranchInfo"/></xs:sequence></xs:complexType><xs:element name="ArrayOfBranchInfo" nillable="true" type="tns:ArrayOfBranchInfo"/><xs:complexType name="BranchInfo"><xs:sequence><xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ID" type="ser:guid"/><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="BranchInfo" nillable="true" type="tns:BranchInfo"/><xs:simpleType name="BranchSortedColumn"><xs:restriction base="xs:string"><xs:enumeration value="None"/><xs:enumeration value="Name"/><xs:enumeration value="Comment"/></xs:restriction></xs:simpleType><xs:element name="BranchSortedColumn" nillable="true" type="tns:BranchSortedColumn"/><xs:complexType name="BranchData"><xs:sequence><xs:element minOccurs="0" name="Branches" nillable="true" type="tns:ArrayOfBranchInfo"/><xs:element minOccurs="0" name="Count" type="xs:long"/></xs:sequence></xs:complexType><xs:element name="BranchData" nillable="true" type="tns:BranchData"/></xs:schema>
